<?xml version="1.0" encoding="utf-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
	 http://www.springframework.org/schema/beans/spring-beans-2.5.xsd"
       default-autowire="byName">

    <!-- 任务执行对象 -->
    <bean id="testExecutor" class="com.hongshan.myflow.executor.TestExecutor">
    </bean>

    <!-- 任务执行配置 -->
    <bean id="testHandler" class="org.springframework.scheduling.quartz.MethodInvokingJobDetailFactoryBean">
        <property name="targetObject" ref="testExecutor"/>
        <property name="targetMethod" value="execute"/>
        <property name="concurrent" value="true"/>
    </bean>

    <!-- 定时器 -->
    <bean id="testTrigger" class="org.springframework.scheduling.quartz.CronTriggerFactoryBean">
        <property name="jobDetail" ref="testHandler"></property>
        <property name="cronExpression" value="0 */1 * * * ?"></property>
    </bean>


    <!-- 启动器
    <bean id="bizQuartzScheduler" class="org.springframework.scheduling.quartz.SchedulerFactoryBean">
        <property name="triggers">
            <list>
                <ref local="testTrigger"/>
            </list>
        </property>
        <property name="autoStartup">
            <value>true</value>
        </property>
    </bean>
    -->
</beans>